<html>
    <head>
        <title>Coursework</title>
    </head>
    <body>
        <div>
            <h1>J'aime me battre</h1>
            <p>Tu n'es pas seulement un <em>lache</em>, tu es un <strong>traitre</strong>, comme ta petite taille le laissait deviner.</p>
        </div>
            {% for post in posts %}
            <div>
                <p>published: {{post.published_date}}</p>
                <p>author: {{post.author}}</p>
                <h2><a href="">{{post.title}}</a></h2>
                <p>{{post.text|linebreaksbr }}</p>
            </div>
            {% endfor %}
    </body>
</html>