
.page-header {
    background-color: whitesmoke;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    font-size: 36pt;
    text-decoration: none;
}

.content {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-style: dashed;
    border-top: #ffffff;
    border-bottom: #ffffff;
    border-color:rgb(28, 52, 105);;
}
.row{
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.col-md-8{
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    }
.post{
    text-align: center;
}


h1, h2, h3, h4 {
    font-family: Arial, Helvetica, sans-serif;
}


.date {
    color: #828282;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.post,.me {
    margin-bottom: 70px;
}

.post h2 a, .post h2 a:visited, h2 a {
    color: #000000;
}
.title-block{
    text-align: center;
    border-style: solid;
    border-width: 2px;
    padding: 5px;
    color: rgb(28, 52, 105);
}

body {
    padding-left: 15px;
    background: whitesmoke;
}
